table {
  display: table;
  align-content: center;
  border-collapse: collapse;
  /*margin: auto;*/
  color: black;
  background-color: white;
}

td {
  border: thin solid lightgrey;
  font-size: 1.5em;
}

td img {
  width: 75px;
  height: 75px;
}
div button {
display: inline;
text-align: center;
}
