table {
  display: table;
  align-content: center;
  border-collapse: collapse;
  /*margin: auto;*/
  color: black;
  background-color: white;
}

td {
  border: thin solid lightgrey;
  font-size: 1.5em;
}

td img {
  width: 75px;
  height: 75px;
}
div button {
display: inline;
text-align: center;
}

.imageContainer {
width: 45%;
height: 750px;
float:left;
}
.flLeft {
clear:both;
float:left;
width: 120px;
height: 120px;
border: 2px solid black;
margin-bottom: 4%
}
.flClearLeft {
float:left;
width: 120px;
height: 120px;
margin-left: 4%;
margin-bottom: 4%;
border: 2px solid black;
}
.imageSize {
width: 120px;
height: 120px;
margin: 0%;
}
p {
text-align: center;
margin-top: 0%;
}
#form_area {
width: 54.5%;
float: right;
background-color: lightgrey;
border: 2px solid black;
}
#order {
width: 100%;
}
tr {
width: 50%;
}
.clearfix {
clear:both;
}
.titleName {
text-align: center;
text-decoration: underline;
}
.instructions {
margin-left: 1%;
}
.cartBtn {
text-decoration: none;
color: black;
border: 2px solid lightblue;
border-radius: 20%;
padding: 50px;
float:right;
margin-right: 23%;
font-size: 30px;
}
.cartBtn:hover {
text-decoration: none;
color: white;
border: 2px solid lightblue;
background-color: lightblue;
border-radius: 20%;
padding: 50px;
float:right;
margin-right: 23%;
font-size: 30px;
}
